In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("imdb.csv")

In [3]:
df.head()

,id,title,genres,averageRating,numVotes,releaseYear
0,tt0903747,Breaking Bad,"Crime, Drama, Thriller",9.5,2222284,2008
1,tt5491994,Planet Earth II,Documentary,9.5,161331,2016
2,tt0185906,Band of Brothers,"Drama, History, War",9.4,543090,2001
3,tt0795176,Planet Earth,"Documentary, Family",9.4,222856,2006
4,tt5152226,Tree of Life,Drama,9.4,11606,2014

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   object
 1   title          1000 non-null   object
 2   genres         1000 non-null   object
 3   averageRating  1000 non-null   float64
 4   numVotes       1000 non-null   int64
 5   releaseYear    1000 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 47.0+ KB

In [5]:
df.isna().sum()

id               0
title            0
genres           0
averageRating    0
numVotes         0
releaseYear      0
dtype: int64

In [9]:
duplicates = df[df.duplicated(subset=['title'], keep=False)]

sorted_duplicates = duplicates.sort_values(by='title')

sorted_duplicates   # No se encontraron duplicados, por la fecha de estreno se ve que es otra temporada.

,id,title,genres,averageRating,numVotes,releaseYear
288,tt0314979,Battlestar Galactica,"Action, Adventure, Drama",8.5,81468,2003
136,tt0407362,Battlestar Galactica,"Action, Adventure, Drama",8.7,178565,2004
411,tt0056751,Doctor Who,"Adventure, Drama, Family",8.4,40163,1963
272,tt0436992,Doctor Who,"Adventure, Drama, Sci-Fi",8.5,252211,2005
291,tt0088509,Dragon Ball,"Action, Adventure, Animation",8.5,68644,1986
294,tt0280249,Dragon Ball,"Action, Adventure, Animation",8.5,66659,1995
91,tt0214341,Dragon Ball Z,"Action, Adventure, Animation",8.8,153281,1996
98,tt0121220,Dragon Ball Z,"Action, Adventure, Animation",8.8,90427,1989
870,tt0092345,DuckTales,"Action, Adventure, Animation",8.0,35662,1987
565,tt5531466,DuckTales,"Action, Adventure, Animation",8.3,12680,2017
429,tt8594324,Ghosts,"Comedy, Fantasy",8.4,28051,2019
996,tt11379026,Ghosts,"Comedy, Fantasy",7.9,32229,2021
181,tt1856010,House of Cards,Drama,8.6,537619,2013
349,tt0098825,House of Cards,Drama,8.5,15245,1990
258,tt0426719,Hunter x Hunter,"Action, Adventure, Animation",8.6,10160,1999
43,tt2098220,Hunter x Hunter,"Action, Adventure, Animation",9.0,146415,2011
333,tt3673794,Kingdom,"Drama, Sport",8.5,20010,2014
500,tt6611916,Kingdom,"Action, Drama, Horror",8.3,56653,2019
518,tt0874936,Life,"Crime, Drama, Mystery",8.3,35610,2007
31,tt1533395,Life,Documentary,9.1,43336,2009
78,tt0158417,Mahabharat,"Action, Adventure, Drama",8.9,23953,1988
63,tt3212600,Mahabharat,"Drama, History, War",9.0,12097,2013
579,tt1634549,Millennium,"Action, Crime, Mystery",8.3,10510,2010
925,tt0115270,Millennium,"Crime, Drama, Horror",8.0,12560,1996
42,tt0388629,One Piece,"Action, Adventure, Animation",9.0,263872,1999
477,tt11737520,One Piece,"Action, Adventure, Comedy",8.3,160753,2023
339,tt0070644,Scenes from a Marriage,Drama,8.5,17428,1973
757,tt12682218,Scenes from a Marriage,Drama,8.1,30102,2021
895,tt0377260,Shameless,"Comedy, Crime, Drama",8.0,19029,2004
268,tt1586680,Shameless,"Comedy, Drama",8.5,298362,2011
791,tt0080274,Shogun,"Adventure, Drama, History",8.1,16546,1980
190,tt2788316,Shogun,"Adventure, Drama, History",8.6,182298,2024
485,tt1637727,The Killing,"Crime, Drama, Mystery",8.3,126295,2011
427,tt0826760,The Killing,"Crime, Drama, Mystery",8.4,30674,2007
281,tt0290978,The Office,"Comedy, Drama",8.5,125358,2001
39,tt0386676,The Office,Comedy,9.0,741468,2005
434,tt0163503,Top Gear,Documentary,8.4,25230,1978
141,tt1628033,Top Gear,"Adventure, Sport, Talk-Show",8.7,129389,2002
290,tt4093826,Twin Peaks,"Crime, Drama, Horror",8.5,78196,2017
88,tt0098936,Twin Peaks,"Crime, Drama, Mystery",8.8,220398,1990

In [10]:
duplicates = df[df.duplicated(subset=['id'], keep=False)]

sorted_duplicates = duplicates.sort_values(by='title')

sorted_duplicates   # Tampoco se encontraron duplicados por ID

Empty DataFrame
Columns: [id, title, genres, averageRating, numVotes, releaseYear]
Index: []

In [12]:
def animated_or_not(x):
  if "Animation" in str(x):
    return "yes"
  return "no"

In [13]:
# Creamos una columna de tipo (Película o serie)
df["Animated"] = df["genres"].apply(animated_or_not)

In [14]:
df.head()

,id,title,genres,averageRating,numVotes,releaseYear,Animated
0,tt0903747,Breaking Bad,"Crime, Drama, Thriller",9.5,2222284,2008,no
1,tt5491994,Planet Earth II,Documentary,9.5,161331,2016,no
2,tt0185906,Band of Brothers,"Drama, History, War",9.4,543090,2001,no
3,tt0795176,Planet Earth,"Documentary, Family",9.4,222856,2006,no
4,tt5152226,Tree of Life,Drama,9.4,11606,2014,no

In [15]:
animated_series = df[df["Animated"] == "yes"]
animated_series

,id,title,genres,averageRating,numVotes,releaseYear,Animated
7,tt0417299,Avatar: The Last Airbender,"Action, Adventure, Animation",9.3,387217,2005,yes
11,tt7678620,Bluey,"Animation, Family",9.3,32363,2018,yes
24,tt2861424,Rick and Morty,"Adventure, Animation, Comedy",9.1,623722,2013,yes
25,tt2560140,Attack on Titan,"Action, Adventure, Animation",9.1,552839,2013,yes
26,tt1355642,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Animation",9.1,206688,2009,yes
...,...,...,...,...,...,...,...
983,tt0063950,"Scooby Doo, Where Are You!","Adventure, Animation, Comedy",7.9,43024,1969,yes
986,tt0343314,Teen Titans,"Action, Adventure, Animation",7.9,39255,2003,yes
988,tt0131613,Teenage Mutant Ninja Turtles,"Action, Adventure, Animation",7.9,38482,1987,yes
989,tt0480489,Elfen Lied,"Action, Animation, Drama",7.9,38021,2004,yes
994,tt8910922,Solar Opposites,"Adventure, Animation, Comedy",7.9,32346,2020,yes

In [17]:
df["genres"] = df["genres"].str.replace(", Animation, ", " ")
df["genres"] = df["genres"].str.replace(", Animation", "")
df["genres"] = df["genres"].str.replace("Animation, ", "")

In [18]:
df.head(15)

,id,title,genres,averageRating,numVotes,releaseYear,Animated
0,tt0903747,Breaking Bad,"Crime, Drama, Thriller",9.5,2222284,2008,no
1,tt5491994,Planet Earth II,Documentary,9.5,161331,2016,no
2,tt0185906,Band of Brothers,"Drama, History, War",9.4,543090,2001,no
3,tt0795176,Planet Earth,"Documentary, Family",9.4,222856,2006,no
4,tt5152226,Tree of Life,Drama,9.4,11606,2014,no
5,tt7366338,Chernobyl,"Drama, History, Thriller",9.3,900834,2019,no
6,tt0306414,The Wire,"Crime, Drama, Thriller",9.3,388724,2002,no
7,tt0417299,Avatar: The Last Airbender,"Action, Adventure",9.3,387217,2005,yes
8,tt30263074,Sapne Vs Everyone,Drama,9.3,70742,2023,no
9,tt6769208,Blue Planet II,Documentary,9.3,48153,2017,no
10,tt0081846,Cosmos,Documentary,9.3,45186,1980,no
11,tt7678620,Bluey,Family,9.3,32363,2018,yes
12,tt9002164,BB Ki Vines,Comedy,9.3,11248,2015,no
13,tt0944947,Game of Thrones,"Action, Adventure, Drama",9.2,2356835,2011,no
14,tt0141842,The Sopranos,"Crime, Drama",9.2,494394,1999,no